ion-content{
    text-align:center;
}

.card{
    margin-top: -85px;
    padding-bottom: 14%;
    font-size:15px;
}
.row1{
    border: 0px;
    font-size: 124%;
    text-align: center;
    text-shadow: chocolate;
    color: rgb(21, 21, 20);
    size: 20%;
    font-style: normal;
}
.input1{
   /* border:1px solid black;
    padding:4px;
    margin:4px;*/

    padding: 7px 5px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    width:50%;
    height:50%;
}

.alert-md .alert-head { // for the title section

    //border-width: thin;

   // border-bottom-style: solid;

   // border-bottom-color: #fac017;

    background-color: #fac017;


    color: rgb(37, 35, 35);

    font-family: fantasy;

}
.alert-md .alert-button{
    border-width:thin;
    border:2px solid pink;
    background-color: yellow;;
    text-align:center;
    padding:17px;
    
}
.alert-md .alert-body{
    width:20px;
    background-color:aqua;
    margin:28px;
    text-align:center;
}
.alert-md .alert-message{
    text-align: center;
    margin: 17px;
    padding-block-start: 12%;
    color:red;
}